<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    
    </head>
    <body>
        <div class="main-content">
            {{>header}}   
            <img src="/img/bg.jpg" width="650px" height="300px">
            <h4>Get the weather details by simple type your city, country or state name in the form and hit Search button.</h4>
        </div>
        {{>footer}}
    </body>
</html>